.div__svg__comment {
  fill: "#262626";
  width: 24px;
  height: 24px;
}
svg {
    fill: rgb(58, 57, 57);
    height: 24;
    width: 24;
}
.div__likes{
  flex-direction: row;
  align-items: stretch;
  align-content: flex-start;
  margin-right: 10px;
  }
.formControl__likes{
  align-items: stretch;
  margin-right: 0px;
}
.likes__count{
  font-size: large;
  text-align: justify;
}
.div__likes__count{
  align-items:stretch ;
  align-self: center;
}
.checkbox__likes{
  height: 14px;
  width: 14px;
}
.options__bar {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  align-items: center;
  align-content: flex-start;
}
